/*Backrooms*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(121deg, rgba(64,55,56,1) 28%, rgba(222,103,123,1) 96%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Calculator*/
.simple-calc-grid {
    display: grid;
    justify-content:center;
    min-height: 10vh;
}

.calculator-grid {
    display: grid;
    justify-content:center;
    align-content: center;
    min-height: 60vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #de677b;
    outline: none;
    background-color: #D9525E;
}

.calculator-grid button:hover {
    font-size: 2rem;
    border: 1px solid #de677b;
    outline: none;
    background-color: #de6771;
    box-shadow: 3px 3px 3px #333;
    z-index: 2;
}

.top-bar { 
    grid-column: 1 / -1;
    background-color: #333;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.top-bar .previous-operand{ 
    color: rgba(255, 255, 255, .9);
    font-size: 1.5rem;
}

.top-bar .current-operand{ 
    color: white;
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}

/*Footer*/

@media only screen and (max-width: 768px) {
    .footer {
        color: white;
        font-size: 1.0rem;    
        position:absolute;
        top:0;
        right:0;
    }
  }
  @media only screen and (min-width: 769px) {
    .footer {
        color: white;
        font-size: 0.8rem;    
        position:absolute;
        bottom:0;
        right:0;
    }
  }

/*Simple Calc*/

.blackText {
    color: #fff;
}

.simpleButton {
    background-color: #333;
    color: #fff;
    border: #333;
}

.simpleButton2 {
    background-color: #333;
    color: #fff;
    border: #333;
    cursor: pointer;
}